@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&family=Poppins:wght@100;400;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* animated text color gradient effect*/
@keyframes gradientText {
    0% {
        color: #e96e0f;
    }

    50% {
        color: #8a0063;
    }

    100% {
        color: #182e44;
    }
}

.text-gradient {
    animation: gradientText 3s infinite alternate;
}